extends base

block content
    main.main
        .container.form__container
            form.form.forgotPassword__form
                h1 Forgot Password
                p Enter your email, and we’ll send you instructions on how to reset your password.
                .form__control
                    label(for="email") Email
                    input#email.email(type="email" name="email")
                    .error
                button(type="submit") Send me reset instructions
                .form__bottom
                    a(href="/login") Back to login

