extends base

block content
    main.main
        section.hero
            .hero__container
                img(src="./images/pancake.svg" alt="")
                .content
                    h1 Recent Recipes
                    h3 By Codev for YouTube
                    a(href="/recipes") View Recipes

