extends base
block content
    main.main
        ul.recipes.container
            li.recipe
                img(src="./images/donut.svg" alt="")
                h4 Donut smoothie
                span ice cream, banana flavour, apple flavour
            li.recipe
                img(src="./images/dumpling.svg" alt="")
                h4 Dumpling smoothie
                span ice cream, banana flavour, apple flavour
            li.recipe
                img(src="./images/french-fries.svg" alt="")
                h4 French-fries smoothie
                span ice cream, banana flavour, apple flavour
            li.recipe
                img(src="./images/hot-dog.svg" alt="")
                h4 Hot-dog smoothie
                span ice cream, banana flavour, apple flavour
            li.recipe
                img(src="./images/kebab.svg" alt="")
                h4 Kebab smoothie
                span ice cream, banana flavour, apple flavour
            li.recipe
                img(src="./images/pancake.svg" alt="")
                h4 Pancake smoothie
                span ice cream, banana flavour, apple flavour
