extends base

block content
    main.main
        .container.form__container
            form.form.resetPassword__form
                h1 Password Reset
                p Enter your password and confirm it to login
                .form__control
                    label(for="password") Password
                    input#password.password(type="password" name="password")
                    .error
                .form__control
                    label(for="passwordConfirm") Confirm Password
                    input#passwordConfirm.passwordConfirm(type="password" name="passwordConfirm")
                    .error
                button(type="submit") Submit
